<%- layout("/layouts/boilerplate") %>

<body style="overflow: hidden;">
    <div class="row">
        <div class="col-8 offset-2 mt-2">
            <h2>Create a New Listing</h2>
            <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">
                        Title:
                    </label>
                    <input type="text" class="form-control" name="listing[title]" id="title" placeholder="Add a catchy title" required>
                    <div class="valid-feedback">
                        Looks Good
                    </div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description:</label>
                    <textarea name="listing[description]" placeholder="Enter description here..." class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please provide description for the product.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">
                        Upload Listing Image:
                    </label>
                    <input type="file" class="form-control" name="listing[image]" id="image" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">
                            Price:
                        </label>
                        <input type="number" class="form-control" name="listing[price]" id="price" placeholder="1200" min="0" required>
                        <div class="invalid-feedback">
                            Please provide a valid price
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">
                            Country:
                        </label>
                        <input type="text" class="form-control" name="listing[country]" id="country" placeholder="India" required>
                    <div class="invalid-feedback">
                        Provide a valid country
                    </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">
                        Location:
                    </label>
                    <input type="text" class="form-control" name="listing[location]" id="location" placeholder="Lucknow, Uttar Pradesh" required>
                    <div class="invalid-feedback">
                        Invalid Location
                    </div>
                </div>
                <div class="mb-3 mt-2">
                    <button class="btn add-btn">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>