<%- layout("/layouts/boilerplate") %>

    <body style="overflow: hidden;">
        <div class="row">
            <div class="col-8 offset-2 mt-2">
                <h3>Enter login credentials: </h3>
                <form action="/login" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">
                            Username:
                        </label>
                        <input type="text" class="form-control" name="username" id="username" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">
                            Password:
                        </label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="mb-3 mt-2">
                        <button class="btn btn-outline-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>