<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
    <style>
        div {
            margin: 1rem;
        }
    </style>
</head>
<body>
    <form action="/chats" method="post">
        <div>
            <label for="from">Sender: </label>
            <input type="text" name="from" id="from" placeholder="Enter sender name">
        </div>
        <div>
            <textarea name="message" placeholder="Write your message here..."></textarea>
        </div>
        <div>
            <label for="to">Receiver: </label>
            <input type="text" name="to" id="to" placeholder="Enter receiver name">
        </div>
        <div>
            <button>Add</button>
        </div>
    </form>
</body>
</html>