<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit content</title>
</head>
<body>
    <h2>Edit post</h2>
    <p>Username : @<%= post.username %> </p>
    <p>Post id: <%= post.id %> </p>
    <form action="/posts/<%= post.id %>/edit?_method=PATCH" method="post">
        <label for="content">Edit content:</label>
        <br>
        <textarea name="content" id="content" placeholder="Edit your content here" rows="8" cols="30"><%= post.content %></textarea>
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>