<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
</head>
<body>
    <form method="post" action="/posts">
        <label for="username">
            Enter username:
        </label>
        <input type="text" placeholder="Enter username" id="username" name="username">
        <br>
        <label for="content">
            Write your post: <br>
        </label>
        <textarea name="content" id="content" placeholder="Write your post here" rows="8" cols="34"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>