<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username</title>
</head>
<body>
    <form action="/users/<%= id %>?_method=PATCH" method="post">
        <div>
            <label for="newUsername">Enter new username: </label>
            <input type="text" placeholder="Enter new username" name="username" id="newUsername">
        </div>
        <div>
            <label for="email">Enter email: </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Enter password: </label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button>Sumbit</button>
        </div>
    </form>
</body>
</html>