<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <form action="/users" method="post">
        <div>
            <label for="username">Enter username: </label>
            <input type="text" placeholder="Enter username" name="username" id="username">
        </div>
        <div>
            <label for="email">Enter email: </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Enter password: </label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>